body{
    background-color: cyan;
}
#hi{
    background-color:yellow;
    height: 100px;
    width: 100px;
    position: fixed;
    top:42%;
    left: 45%;
    font-size: 50px;
}
h1{
    color: red;
    position: fixed;
    left: 42%;
    font-size: 60px;
}
#a{
    position: fixed;
    top:50%;
    left:39%;
    height: 30px;
    width: 60px;
    font-size: 20px
}
#b{
    position: fixed;
    top:50%;
    left:53%;
    height: 30px;
    width: 60px;
    font-size: 20px
}